html {
	height: 100%;
}

@font-face {
	font-family: 'Permanent Marker', cursive;
	font-size:55px;
	text-align: left;
	left: 20px;
}

.main-nav {
	float: right;
	list-style: none;
	margin-top: 40px;
}
	
.main-nav li {
	display: inline-block;
}
	
.main-nav li a {
	color: black;
	text-decoration: none;
	padding: 5px 20px;
	font-family: 'Permanent Marker', cursive;
	font-size: 25px;
}
	
.main-nav li.active a {
	border: 1px solid black;
	background-color: #ff8484;
}
	
.main-nav li a:hover {
	border: 1px solid black;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size:55px;
	text-align: left;
	left: 20px;	
	white-space:nowrap;
	margin-top: -80px;
}

h2 {
	font-family: 'Lobster', cursive;
	font-size: 35px;
	left: 20px;
	margin-left:20px;
}

p {
	font-family: 'Patrick Hand', cursive;
	font-size: 20px;
	position: absolute;
	top: 380px;
	right: 35px;
}

ul {
	font-family: 'Patrick Hand', cursive;
	font-size: 20px;
}

* {box-sizing:border-box}

.slideshow-container {
	max-width: 300px;
	position: relative;
	margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border-radius: 0 3px 3px 0;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

img {
	width: 300px;
	margin-bottom: 100px;
	margin-left: 0px;
	margin-top: 50px;
}


.tekst {
	margin-top:-75px;
	margin-bottom: 50px;
}

.pilt1 {
	margin: 0px;
	margin-top: 50px;
	margin-left: -10px;
	margin-bottom: 50px;
	
}
